* {
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: gold;
  background-color: rgb(84, 120, 122);
}

h1 {
  text-align: center;
}

article.card {
  width: 225px;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  transition: all 300ms;
  justify-content: space-around;
  margin: 3px;
}

article.card:hover {
  filter: brightness(1.5);
  transform: scale(1.01);
}

.cardImg {
  height: 100%;
  width: 100%;
}